/* elements */
body {
    background-color: #f0f8ff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    line-height: normal;
    /* color: azure;
    background-image: url('./F8N.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}

header,
footer {
    background-color: #4682b4;
    text-align: center;
    padding: 5px;
}

main {
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
}

section {
    margin: 40px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
}


/* classes */

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;

    margin-right: 15px;
}

nav a {
    text-decoration: none;
}

li.transparent {
    color: rgba(0, 0, 0, 0.6);
}

.heading {
    text-align: center;
}

.warning {
    color: red;
    font-weight: bold;
}

.footer {
    font-size: 15px;
}